In [77]:
from sklearn.linear_model import LogisticRegression
import pandas

In [52]:
df = pandas.read_csv("christmas.csv")

In [53]:
df.describe()

,R,P,S,T,Promise,Cooperator,Defector,Alternator,TitForTat,TwoTitsForTat,Grudger
count,3712.000000,3712.000000,3712.000000,3712.000000,3712,3712.000000,3712,3712,3712.000000,3712.000000,3712.000000
mean,10.813308,6.864224,2.924838,14.911099,1,0.112966,0,0,0.264653,0.311190,0.311190
std,3.273800,3.323466,2.733863,2.778379,0,0.076446,0,0,0.011558,0.034903,0.034903
min,3.000000,1.000000,0.000000,5.000000,True,0.000000,0,0,0.139900,0.253870,0.253870
25%,8.000000,4.000000,1.000000,13.000000,1,0.040185,0,0,0.256280,0.280100,0.280100
50%,11.000000,7.000000,2.000000,16.000000,1,0.118210,0,0,0.264805,0.307970,0.307970
75%,13.000000,9.000000,4.000000,17.000000,1,0.182820,0,0,0.273532,0.342145,0.342145
max,16.000000,15.000000,14.000000,18.000000,True,0.241680,0,0,0.294930,0.430050,0.430050

In [54]:
extra_df = pandas.DataFrame({'R':[1,2,3], 'P':[1,2,3], 'S':[1,2,3], 'T':[1,2,3], 'Promise':[False, False, False]})
df = df.append(extra_df, ignore_index=False)
df = df[[4, 6, 7, 8, 5]]
df.tail()

       P   R  S   T Promise
3710  15  16  4  18    True
3711  15  16  5  18    True
0      1   1  1   1   False
1      2   2  2   2   False
2      3   3  3   3   False

In [62]:
X = df[df.columns[:4]]
y = df["Promise"]
model = LogisticRegression()
result = model.fit(X, y)

In [76]:
pandas.DataFrame(list(zip(X.columns, model.coef_[0])), columns=["Variables", "Coefficients"])

  Variables  Coefficients
0         P     -0.254385
1         R      0.372757
2         S     -0.950092
3         T      1.095219

We see that as $P, S$ increases the probability of the promise being kept decreases.